.main {
  height: 100vh;
  transition: 1s;
}
.scrollBtn {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50px;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 90vh;
  left: 50%;
}
.scrollBtn::before, 
.scrollBtn::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrollBtn 1s ease-in-out infinite;
}
.scrollBtn::after {
  top: 20%;
  animation-delay: .4s;
}
@keyframes scrollBtn {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

.container {
  font-size: 24px;
  font-family: PT Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-top: 15%;
  text-align: center;
}

.letter .ml12 {
  display: inline-block;
  line-height: 1em;
}

@media screen and (max-width: 500px) {
  .container h1 {
    font-size: 20px !important;
  }  
}