.App {
    /* background-image: url('../public/mika-original.jpg') ;
    background-size: cover;
    transition: 1s; */
}

@media screen and (max-width: 500px) {
    .App {
        background-image: url('../public/mika-medium.jpg') ;
        background-position: center;
    }  
}