#transit {
    height: 100vh;
    background-image: 
        linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
        url('https://images.unsplash.com/photo-1531973576160-7125cd663d86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-size: cover;
    background-position: bottom;
    transition: 1s;
    opacity: 0.25;
}